body {
  font-family: 'Blinker', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  caret-color: transparent;   /* Get rid of blinking cursor some places */
  user-select: none;          /* Deny user to select text */
}

/* This is for background picture - at the moment disabled */
body:before {    
  /* content: ""; */
  background-image: url("../public/background.jpg");
  background-size: 100px 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}